In [67]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from Googleapiconfig import g_api_key

In [68]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vostok,RU,2022-07-14 08:47:19,46.4856,135.8833,67.93,79,100,6.85
1,1,Hobart,AU,2022-07-14 08:45:46,-42.8794,147.3294,50.05,83,75,4.61
2,2,Albany,US,2022-07-14 08:45:56,42.6001,-73.9662,64.81,92,54,3.18
3,3,Fort Nelson,CA,2022-07-14 08:42:59,58.8053,-122.7002,58.59,55,75,8.05
4,4,Merke,KZ,2022-07-14 08:47:20,42.8728,73.1786,89.62,21,0,10.89

In [69]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [70]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_api_key)

In [71]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [72]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [81]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Merke,KZ,2022-07-14 08:47:20,42.8728,73.1786,89.62,21,0,10.89
15,15,Buchanan,LR,2022-07-14 08:47:23,5.8808,-10.0467,75.72,87,100,7.81
17,17,Pemangkat,ID,2022-07-14 08:47:24,1.1667,108.9667,84.40,68,100,7.47
19,19,Igrim,RU,2022-07-14 08:47:24,63.1906,64.4162,81.77,49,56,1.81
23,23,Arman,RU,2022-07-14 08:47:25,59.7000,150.1667,80.02,77,56,2.53
25,25,Maningrida,AU,2022-07-14 08:47:26,-12.0667,134.2667,75.07,56,76,9.98
28,28,Mitsamiouli,KM,2022-07-14 08:47:27,-11.3847,43.2844,82.69,65,40,11.50
31,31,Rio Bravo,MX,2022-07-14 08:47:28,25.9833,-98.1000,81.07,88,30,5.99
32,32,Kloulklubed,PW,2022-07-14 08:47:29,7.0419,134.2556,82.90,70,78,7.36
36,36,Vaini,TO,2022-07-14 08:47:30,-21.2000,-175.2000,77.13,82,2,18.45

In [82]:
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [83]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4         Merke      KZ     89.62  42.8728   73.1786
15     Buchanan      LR     75.72   5.8808  -10.0467
17    Pemangkat      ID     84.40   1.1667  108.9667
19        Igrim      RU     81.77  63.1906   64.4162
23        Arman      RU     80.02  59.7000  150.1667
25   Maningrida      AU     75.07 -12.0667  134.2667
28  Mitsamiouli      KM     82.69 -11.3847   43.2844
31    Rio Bravo      MX     81.07  25.9833  -98.1000
32  Kloulklubed      PW     82.90   7.0419  134.2556
36        Vaini      TO     77.13 -21.2000 -175.2000

In [84]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_api_key
}

In [92]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [93]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Merke,KZ,89.62,42.8728,73.1786,Gostinitsa Merki
15,Buchanan,LR,75.72,5.8808,-10.0467,Kamaneahn Hotel Inc
17,Pemangkat,ID,84.40,1.1667,108.9667,Ramah Kost KITA
19,Igrim,RU,81.77,63.1906,64.4162,Obshchezhitiye Uchebno-Proizvodstvennogo Tsentra
23,Arman,RU,80.02,59.7000,150.1667,
25,Maningrida,AU,75.07,-12.0667,134.2667,Dhukurrdji Lodge
28,Mitsamiouli,KM,82.69,-11.3847,43.2844,Foyer ADM
31,Rio Bravo,MX,81.07,25.9833,-98.1000,Villa Santa Cecilia
32,Kloulklubed,PW,82.90,7.0419,134.2556,Storyboard Beach Resort
36,Vaini,TO,77.13,-21.2000,-175.2000,Keleti Beach Resort

In [95]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [98]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [99]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))